header{
    .btndc{
        background-color: transparent;
        border: transparent;
        font-size: 1.5rem;
        margin-top: 1rem;
        
    }
    .btndc:hover{
        text-decoration: underline;
    }
}