

  
  header {
    background-image: url('../../../public/img/bg_header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 100;
    box-shadow: 1px 1px 6px #444 ;
    color: #fff;
  

 
  
      .logo {
        height: 100%;
        background-color: (var(--red));
        text-align: center;

        img{
        width: 150px ;
      
        }

      }

      .menu{
        display: flex;
        align-items: center;
        justify-content:space-around;
        height:60px;
        background-color: rgba(0, 0, 0, 0.5);
  
      .navigator{
          display: flex;
          align-items: center; 
          width: 60%;
        ul {
          display: flex;
          width: 100%;
          justify-content:space-between;
          list-style: none;
          margin-top: 1rem;
          li{
            a {
              border-bottom: 2px solid transparent;
            }
            
            a:hover {
              background-color: #fff;
              color: #333;
            }
          }
        } 
        
        .dropdown-content {
          display: none;
          position: absolute;
          z-index: 1;
        }
      
        .dropdown:hover .dropdown-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 0;
        }
        
        .dropdown-content a {
          color: #333;
          padding: 1rem;
          text-decoration: none;
          display: flex;
          flex-direction: row;
          width: 100px;
          background-color: #fff;
          transition: background-color 0.3s, transform 0.3s; /* Added transition property */
        }
        
        .dropdown-content a:hover {
          background-color: var(--red);
          transform: scale(1.1); /* Added transform property */
        }
          
          
        


        
      
        
        
        
       
      
        

        a{
          font-size: 1rem;
          font-weight:600;
          color: #ffffff;
          transition: 0.4s;
          text-decoration: none;
          padding: 0.8rem;
          
  
         

        
        &:hover {
          background-color: #fff;
          color: #333 ;
        }

       }
    
      }
      

      .user-menu {
        width: 20%;
        
        nav.user {
          
      
          ul {
            display: flex;
            justify-content: space-around;
            
            li {
              list-style: none;
              
      
              a {
                color: #fff;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                
                svg {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }
      

      
  
    }
      

      

}  


 
 @media only screen and (min-width: 900px) {


  header{
    display: flex;
    height: 150px;

    .logo {
      width: 30%;
      height: 100%;
      background-color: (var(--red));
      text-align: center;

      img{
      width: 150px ;
    
      }

    }


    .menu{
      width: 100%;
      height: 100%;
      justify-content: space-between;
      align-items: center;


    .navigator {
      height: 100%;
      width: 100%; 
      
      


        ul {
          font-size: 0.6rem; 
          justify-content:space-evenly;
        }

        .dropdown:hover .dropdown-content {
          flex-direction: row;
          margin-top: 0;
        }
        
    
        a {
          padding: 1rem;
          font-size: 2rem;
        }
        .dropdown-content {
          a {
            width: 180px;
            line-height: 23px;
          }
    
          
        
      }
      
    }


    .user-menu {
      width:30%;
      background-color: (var(--red));
      height: 100%;
      justify-content: center;
      
  
       
      nav.user {
       
      
        
    
        ul {
          
          
          
          li {
            list-style: none;
            padding: 0;
            
    
            a {
              font-size: 1rem;
              color: #fff;
              text-decoration: none;
              
             

              svg {
                font-size: 2.5rem;
              }
            }
          }
        }
      }
    }
    
  }

 

    
  }


}
  