
  
  
  header {
    background-image: url('../../../public/img/bg_header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 6rem;
    line-height: 5rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 6px #444 ;
  }
  
  .logo {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.5);
  }
    

  
  
  h1{
    margin: 0;
  }
  
  .logo img{
   height: 100%;
  }
  
  .navigator{
    height: 100%;
    width: 100%;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none
  }
  
  header nav a {
    text-decoration: none;
    padding: 1rem;
  }
  
  .navigator{
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .navigator a{
    font-size: 1.1rem;
    font-weight:600;
    color: #ffffff;
    transition: 0.4s;
  }
  
  .navigator a:hover {
    background-color: #fff;
    color: #333 ;
  }
  
  
  
  .user {
    background-color: rgb(197, 56, 31);
    height: 100%;
    width: 30%;
  }
  
  .user a {
    color: #ffffff;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0;
    cursor: pointer;
  }
  
  .signIn{
    text-align: center;
    margin:0 auto;
  }
  
  .signIn form{
    display: flex;
    flex-direction:  column ;
    justify-content: center;
    align-items:center;
  }
  
  
  .signIn label{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 1px 30px ;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .btndc{
    cursor: pointer;
  }

 /* Responsive styles for tablet screens */

 
 @media only screen and (max-width: 768px) {


header{
    width: 100%;
  


  .navigator {
    ul {
      font-size: 0.6rem;
      flex-direction: column;
      width: 100%;
      background-color: #333;
    }

    a {
      padding: 0.5rem;
      font-size: 1.1rem;
    }
  }

  .user {

    .dropdown-content {
      a {
        padding: 1px 20px;
      }
    }
  }
}

}
  