

  
  header {
    background-image: url('../../../public/img/bg_header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 100;
    box-shadow: 1px 1px 6px #444 ;
    color: #fff;
  

 
  
      .logo {
        height: 100%;
        background-color: (var(--red));
        text-align: center;

        img{
        width: 150px ;
      
        }

      }
  
      .navigator{
          display: flex;
          flex-direction: column;
          height: 60px;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.5);
         
          

        
        
        ul {
          display: flex;
          justify-content: space-around;
          list-style: none;
          margin-top: 1rem;
        }


        .dropdown-content {
          display: none;
          position: absolute;
          z-index: 1;
        }
      
        .dropdown:hover .dropdown-content {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-top: 0;
        }
        
        .dropdown-content a {
          color: #333;
          padding:1rem ;
          text-decoration: none;
          display: flex;
          flex-direction: row;
          background-color:#fff;
        }
        
        .dropdown-content a:hover {
          background-color:var(--red);
        }
        
      
        

        a{
          font-size: 1.5rem;
          font-weight:600;
          color: #ffffff;
          transition: 0.4s;
          text-decoration: none;
          padding: 0.8rem;
  
         
        
        
        &:hover {
          background-color: #fff;
          color: #333 ;
        }

       }
    
      }
      
  
  
      .burger-menu {
        display: flex;
        align-items: center;
      
        .menu-icon {
          font-size: 24px;
          margin-right: 10px;
          cursor: pointer;
        }
      
        .menu-items {
          position: absolute;
          top:25%;
          right: 7%;
          background-color: #ffffff;
          border: 1px solid #333;
          border-radius: 5px;
          padding: 10px;
      
          ul {
            list-style: none;
            margin: 0;
            padding: 1rem;
            display: flex;
            flex-direction: column;
      
            li {
              margin-bottom: 10px;
      
              a {
                color: #333333;
                text-decoration: none;
                display: flex;
                align-items: center;
      
                svg {
                  margin-right: 5px;
                }
      
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }

      

}  

 /* Responsive styles for tablet screens */

 
 @media only screen and (min-width: 900px) {


header{
  display: flex;
  height: 150px;


  .navigator {
    height: 100%;
    justify-content: center;
    
    
    ul {
      font-size: 0.6rem;
      
    }

    a {
      padding: 1rem;
      font-size: 2rem;
    }
  }

  .user {

    .dropdown-content {
      a {
        padding: 1px 20px;
      }
    }
  }
}

}
  