@use "./gardevoir";
@use "./general";
@use "../singup/sign_up.scss";
@use "../login/modal.scss";
@use "../composants/public/header.scss";
@use "../composants/admin/hearder.scss";
@use "../composants/footer/footer.scss";
@use "../form_vehicle/vehicle.scss";
@use "../composants/slider/slider.scss";
@use "../home/home.scss";
@use "../card_vehicle/vehicules.scss";
@use "../vehicle_info/vehiculeInfo.scss";




#root{
  font-size: 62.5%;
  --red: #a42626;
  
}

main{
  max-width: 1000px;
  background-color: #ecececef;
  margin:  2rem auto;
  min-height: 100vh;
  border-radius: 0.5rem;
  padding: 2rem;

  h2{
    border-bottom: 1px dashed var(--red);
    width: 100%;
    padding: 2rem;
    text-align: left;
    font-size: 2rem;
    color: var(--red);
  }
}

h1,h2,h3{
    text-transform: uppercase;
}
