

.add-vehicle {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    main {
      
    
  
    .vehicle-form {
      display: flex;
      flex-direction: column;
      padding: 2rem;
  
      label {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
  
      input[type="text"],
      textarea,
      input[type="number"] {
        font-size: 1.2rem;
        padding: 1rem;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin-bottom: 1rem;
        width: 100%;
      }
  
      textarea {
        height: 150px;
      }
  
      button[type="submit"] {
        background-color: #333;
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #005FA3;
        }
       }
      }
    }
  }


